---
http_interactions:
- request:
    method: post
    uri: https://gorest.co.in/public/v1/users?access-token=0375f841de50953f36828fd3b5d1baaacf7f7b1e788dc99cd57ea747731d39bb
    body:
      encoding: UTF-8
      string: '{"name":" ","gender":"male","email":"nil@nil.com","status":"active"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":null,"data":[{"field":"name","message":"can''t be blank"}]}'
  recorded_at: Sun, 18 Jul 2021 18:34:13 GMT
recorded_with: VCR 6.0.0
