---
http_interactions:
- request:
    method: post
    uri: https://gorest.co.in/public/v1/users?access-token=0375f841de50953f36828fd3b5d1baaacf7f7b1e788dc99cd57ea747731d39bb
    body:
      encoding: UTF-8
      string: '{"name":"Some One","gender":"male","email":"tim@cooper.cm","status":"active"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":null,"data":[{"field":"email","message":"has already been taken"}]}'
  recorded_at: Sun, 18 Jul 2021 18:36:20 GMT
recorded_with: VCR 6.0.0
